body {
  font-family: "Zen Kurenaido", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: 18px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin: 10px 0;
}

form {
  margin: 10px 0;
}

select,
#start,
#restart,
#startLevelTwo {
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
  background-image: url(./images/sand.png);
  border-radius: 15%;
  border: 1px solid darkgray;
}

select {
  height: 30px;
  width: 60px;
  font-size: 16px;
}

#start,
#restart,
#startLevelTwo {
  padding: 0;
  height: 50px;
  width: 115px;
  font-size: 20px;
  box-shadow: 3px 3px lightgray;
}
